<%= render "shared/create_header" %>
<div class='exp-main'>
  <div class="exp-box">
    <div class="difinition">
      <span id="d-title">・PoSiTi-BaNKとは</span>
        <p>ポジティブなコンテンツ”だけ”が詰まったSNSサイトです。<br>
           新着ニュース＆動画ではハッピーになれるニュースや動画のリンクが随時更新されていきます。<br>
           投稿やブログではユーザーが日常で見つけた小さな幸せや、良かったこと、頑張っていることなどが閲覧できます。<br>
           ユーザー登録をすると、呟きの投稿やブログの作成ができる他、縁機能や感謝状機能、ステキボタン機能も使えるようになります。</P>
        <p>良いなと思った物にはステキボタンを押しましょう。<br>
           自分が押したステキボタンの数や、押されたステキボタンの数が”〇〇縁”という形で表示されます。<br>
           心動かされたユーザーには感謝状でメッセージを送ることもでき、送ったユーザーと送られたユーザーにも縁が加算されます。</p>
        <p>たくさん前向きな情報を発信し、そして見つけることで縁がたくさん増えていきます。<br>
           是非このPoSiTi-BaNKで億万長者ならぬポジティブ長者になって、毎日を元気に過ごしていきましょう。</p>
    </div>
    <div class="exp-function">
      <span id="e-title">・PoSiTi-BaNKの機能について</span>
        <p>【呟き投稿機能】</p>
        <p>日々の生活の中で見つけた小さな幸せや良かったこと、感動した話など、前向きな気持ちが詰まった呟きが投稿できます。誰かに発信するもよし、自分に対してエールを送る投稿もいいでしょう。投稿ボタンから投稿することができます。マイページでは投稿一覧画面から自分のこれまでの投稿がまとめて閲覧できます。自分の呟きは削除ボタンから削除できます。</p>
        <p>【ブログ機能】</p>
        <p>呟きでは書ききれない物はブログに書き記しましょう。画像を一枚まで添付することも可能です。記事を書くボタンから作成できます。マイページではブログ一覧から自分のこれまでのブログのタイトルがまとめて閲覧できます。タイトルをクリックするとブログの詳細が確認でき、削除や編集が行えます。</p>
        <p>【感謝状機能】</p>
        <p>感銘を受けた投稿やブログを書いたユーザーに感謝のメッセージを送ることができます。サイト上で送りたいユーザーの名前をクリックするとそのユーザーページへと遷移します。そこから右側中央にある感謝状を送るボタン押し、感謝状を送ることができます。送った感謝状はマイページの送った感謝状一覧で確認することができ、編集も可能です。また、貰った感謝状一覧から自分が送られた感謝状の一覧も見ることができます。</p>
        <p>【縁機能】</p>
        <p>PoSiTi-BaNKでは銀行でお金を貯めるように、”縁”という単位のポイントを貯めることができます。縁は自分がこのサイトで見つけたポジティブな投稿や、発信した投稿で誰かを前向きにした数が以下の基準によって加算されていきます。<br>
        <br>
        他ユーザーの呟きやブログにステキボタンを押す => 1投稿につき、1縁<br>
        他ユーザーから自分の呟きやブログのステキボタンが押される。 =>  1投稿につき、1縁<br>
        他ユーザーに感謝状を送る => 1通につき、100縁<br>
        他ユーザーから感謝状が送られる => 1通につき、1000縁</p>
        <p>【プロフィール機能】</p>
        <p>自分についての簡単に紹介することができます。マイページのプロフィール横にある登録するボタンから登録できます。一度登録するとそれ以降は編集ボタンとなり、随時編集可能です。</p>
    </div>
    <div class="how-to">
      <span id="h-title">・PoSiTi-BaNKの使い方</span>
        <p>【ユーザー登録をしよう！】</p>
        <p>ユーザー登録は新規登録ボタンから簡単に行えます。閲覧以外の機能はログインユーザーしか使うことができないので、ぜひユーザー登録をしてポジティブを集め、そして発信しましょう。</p>
        <p>【他ユーザーの投稿やブログを見てステキボタンを押そう！】</p>
        <p>登録をしたらまずは他のユーザーの呟きやブログを見てみましょう。そしてステキな投稿があればステキボタンを押してみましょう。すると押した投稿数だけ縁が増えます。縁がたくさん貯まる頃には、このサイトを使うよりもきっと前向きな気持ちになっているはずです。</p>
        <p>【呟きやブログを投稿してみよう！】</p>
        <p>慣れてきたら、自分でも呟きやブログを投稿してみましょう。内容は本当に些細なことでも大丈夫です。早く起きれた、天気が良かった、そういったことを目向きな情報として発信していく内に、他の人の幸せを喜び、自分の良かったことを共有し、日常のポジティブをたくさん感じることのできるポジティブの達人になっているはずです。</p>
    </div>
  </div>
</div>
<%= render "shared/footer"%>